.company-content{
    margin-block-start: 100px;
    margin-inline-start: 5%;

}
.company-content h3{
    font-size: 25px;
    font-weight: 700;
    color:#db3e00;
}
.company-logo .a{
    width:300px;
    height: 300px;
}
.d{
    width:300px;
    height: 300px;
}
.c{
    width:200px;
    height: 200px;
}
.e{
    width:200px;
    height: 200px;
}
.company-logo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
@media screen and (max-width:786px) {
    .company-content{
        margin-top: 50px;
        margin-left: 5%;
    
    }
}