.footer{
    background-color: black;
    width: 100%;
    height: 600px;
}
.footer-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.footer-content h3{
    color: rgb(106, 106, 106);

}
.footer-content p{
    color: rgb(140, 140, 140);
    font-size: 25px;
}
.logo-text{
    color: white;
}
.icons:hover{
    color: white;
}
.copyrights{
    margin-top: 150px;
}
@media screen and (max-width:991px) {
    .footer{
        height: 490px;
    }
    .footer-content p{
        font-size: 15px;
    }
    
}
@media screen and (max-width:768px) {
    .footer-all{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    
    }
    .footer{
        height: 724px;
    }
    .footer-content{
        margin-top: 30px;
    }
    .copyrights{
        margin-top: 30px;
    }
    
}
