
.home-img{
    position: relative;
    object-fit: cover;
    top: -80px;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);

}
.home-content{
    position: absolute;
    top: 55%;
    left:8%;
    color:rgb(104,219,162);
}
.home-content h1{
    font-size: 50px;
    font-weight: 700;
}
.home-content p{
    color: white;
    font-size: 24px;
    width: 60%;
}
@media screen and (max-width:991px){
.home-img{
    height: 700px;
}
.home-content{
    position: absolute;
    top: 45%;
    left: 5%;
}
.home-content h1{
    font-size: 60px;
    font-weight: 700;
}
.home-content p{
    color: white;
    font-size: 22px;
    width: 60%;
}
}
@media screen and (max-width:786px){
    .home-content p{
        width: 85%;
    }
    .home-content{

        top: 30%;
  
    }
    .home-content p{
        font-size: 18px;
    }
    .home-img{

        height: 750px;
    }
    .home-content h1{
        font-size: 40px;
        font-weight: 700;
    }
}
