@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}
.logo{
    height: 100px;
    width: 180px;
}



.navbar{
    position: fixed;
    top: 100px;
    width: 100%;
    background: #00000000;
    color: #ffffff;
    opacity: 0.85;
    z-index: 100;
    padding-inline: 120px!important;
}
.navbar-scrolled{
    background: #000000d5;

}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}


@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
        gap: 50px;
}
}


@media (max-width: 991px){

    .navbar{
        opacity: 0.95;
    padding-inline:0px!important;

    }
    .navbar a{
        color: #ffffff;
    }
    .logo{
        height: 120px;
        width: 200px;
    }

    .logo{
        position: absolute;
        top: -30px;
        right: 15px;
        font-size: 2.5rem;
    }  
}

@media screen and (max-width:835px) {
    .navbar .menu-items{ 
        margin-left: -55px;
    }  
}

@media (max-width: 500px){

    .logo{
        height: 100px;
        width: 180px;
        position: absolute;
        top: -20px;

    }
}