.team-content h3{
  margin-inline-start:5% ;
  font-size: 25px;
  font-weight: 700;
  color:rgb(104,219,162);
}
.all-persons{
  margin-block-start:100px ;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.all-team{
    position: relative;
    width: 800px;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
}
.person{
    width: 200px;
    height: 200px;
}
.custom-border-top-right-radius {
    border-top-right-radius: 10%;
}
.custom-border-top-left-radius {
    border-top-left-radius: 10%;
}
.custom-border-bottom-right-radius {
    border-bottom-right-radius: 10%;
}
.custom-border-bottom-left-radius {
    border-bottom-left-radius: 10%;
}

.card-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  #mydiv{
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

.card-slide {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .card-slide-front,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #06AAF5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  .bimg{
    display: none;
  }
  
  .card-slide-front {
    transform: translateY(0%);
  }
  
  .card-slide-front1,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #85AAA9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front1 {
    transform: translateY(0%);
  }
  .card-slide-front2,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FAA338;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front2 {
    transform: translateY(0%);
  }  .card-slide-front3,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFCD8C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front3 {
    transform: translateY(0%);
  }  .card-slide-front4,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF766C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front4 {
    transform: translateY(0%);
  }  .card-slide-front5,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #35BAC4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front5 {
    transform: translateY(0%);
  }  .card-slide-front6,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #446699;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front6 {
    transform: translateY(0%);
  }  .card-slide-front7,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
    background-color:#3F66CC;
  }
  
  .card-slide-front7 {
    transform: translateY(0%);
  }
  
  .card-slide-back {
    background: linear-gradient(#646fc6, #fff);
    color: #000;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 0.5s;
    /* padding-inline-start:50px ; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container:hover .card-slide-front {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front1 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front2 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front3 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front4 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front5 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front6 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front7 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-back {
    opacity: 1;
  }
  
  .fimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;

  }

  #mydiv.expanded {
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    overflow-y: hidden;
}

.card-container.person {
    /* Add your initial styles here */
    transition: all 0.3s ease; /* Add smooth transition for animation */
    position: relative;
    overflow-y: hidden;

    
}

/* Styles for the expanded state */
.card-container.person.expanded {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: hidden;
}

.card-container.person.expanded .card-slide-front,
.card-container.person.expanded .card-slide-front1,
.card-container.person.expanded .card-slide-front2,
.card-container.person.expanded .card-slide-front3,
.card-container.person.expanded .card-slide-front4,
.card-container.person.expanded .card-slide-front5,
.card-container.person.expanded .card-slide-front6,
.card-container.person.expanded .card-slide-front7 {
  display: none;
}

.expanded .bimg{
  display:block;
}

@media screen and (max-width:700px){
    .all-team{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }

    .custom-border-top-right-radius {
        border-top-right-radius: 0%;
    }
    .custom-border-top-left-radius {
        border-top-left-radius: 0%;
    }
    .custom-border-bottom-right-radius {
        border-bottom-right-radius: 0%;
    }
    .custom-border-bottom-left-radius {
        border-bottom-left-radius: 0%;
    }

    #mydiv.expanded {
        width: 300px;
        height:100px;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 100;
        overflow-y: hidden;
    }
    
    .card-container.person {
        /* Add your initial styles here */
        transition: all 0.3s ease; /* Add smooth transition for animation */
        position: relative;
        overflow-y: hidden;    
    }
    
    /* Styles for the expanded state */
    .card-container.person.expanded {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
        z-index: 1;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow-y: hidden;
    }
    .card-slide-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}
@media screen and (max-width:500px){
  .teams{
    display: none;
  }
}

