/* .team-content h3{
  margin-inline-start:5% ;
  font-size: 25px;
  font-weight: 700;
  color:rgb(104,219,162);
}
.all-persons{
  margin-block-start:100px ;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.all-team{
    position: relative;
    width: 800px;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
}
.person{
    width: 200px;
    height: 200px;
}
.custom-border-top-right-radius {
    border-top-right-radius: 10%;
}
.custom-border-top-left-radius {
    border-top-left-radius: 10%;
}
.custom-border-bottom-right-radius {
    border-bottom-right-radius: 10%;
}
.custom-border-bottom-left-radius {
    border-bottom-left-radius: 10%;
}

.card-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  #mydiv{
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

.card-slide {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .card-slide-front,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #06AAF5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  .bimg{
    display: none;
  }
  
  .card-slide-front {
    transform: translateY(0%);
  }
  
  .card-slide-front1,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #85AAA9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front1 {
    transform: translateY(0%);
  }
  .card-slide-front2,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FAA338;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front2 {
    transform: translateY(0%);
  }  .card-slide-front3,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFCD8C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front3 {
    transform: translateY(0%);
  }  .card-slide-front4,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF766C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front4 {
    transform: translateY(0%);
  }  .card-slide-front5,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #35BAC4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front5 {
    transform: translateY(0%);
  }  .card-slide-front6,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #446699;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
  }
  
  .card-slide-front6 {
    transform: translateY(0%);
  }  .card-slide-front7,
  .card-slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
    background-color:#3F66CC;
  }
  
  .card-slide-front7 {
    transform: translateY(0%);
  }
  
  .card-slide-back {
    background: linear-gradient(#646fc6, #fff);
    color: #000;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container:hover .card-slide-front {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front1 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front2 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front3 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front4 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front5 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front6 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-front7 {
    transform: translateY(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .card-container:hover .card-slide-back {
    opacity: 1;
  }
  
  .fimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;

  }

  #mydiv.expanded {
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    overflow-y: hidden;
}

.card-container.person {
    transition: all 0.3s ease;
    position: relative;
    overflow-y: hidden;

    
}

.card-container.person.expanded {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: hidden;
}

.card-container.person.expanded .card-slide-front,
.card-container.person.expanded .card-slide-front1,
.card-container.person.expanded .card-slide-front2,
.card-container.person.expanded .card-slide-front3,
.card-container.person.expanded .card-slide-front4,
.card-container.person.expanded .card-slide-front5,
.card-container.person.expanded .card-slide-front6,
.card-container.person.expanded .card-slide-front7 {
  display: none;
}

.expanded .bimg{
  display:block;
}

@media screen and (max-width:700px){
    .all-team{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }

    .custom-border-top-right-radius {
        border-top-right-radius: 0%;
    }
    .custom-border-top-left-radius {
        border-top-left-radius: 0%;
    }
    .custom-border-bottom-right-radius {
        border-bottom-right-radius: 0%;
    }
    .custom-border-bottom-left-radius {
        border-bottom-left-radius: 0%;
    }

    #mydiv.expanded {
        width: 300px;
        height:100px;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 100;
        overflow-y: hidden;
    }
    
    .card-container.person {
        transition: all 0.3s ease;
        position: relative;
        overflow-y: hidden;    
    }
    
    .card-container.person.expanded {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
        z-index: 1;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow-y: hidden;
    }
    .card-slide-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}
@media screen and (max-width:500px){
  .teams{
    display: none;
  }
}
 */






 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

 .team-heading h3{
  margin-inline-start: 5%;
  font-size: 25px;
  font-weight: 700;
  color: rgb(104,219,162);
  margin-block-end:50px;
 }

body {
	font-family: 'Poppins', sans-serif;

}


ul,
li {
	list-style: none;
}

.contain {

	display: flex;
  flex-wrap:wrap ;
  justify-content:center;
  align-items: center;
	gap: 50px;
}

.cards {
	position: relative;
	height: 400px;
	overflow: hidden;
	cursor: pointer;
}

.intro {
	position: absolute;
	height: 0;
	width: 350px;
	bottom: 0;
	overflow: hidden;
	padding: 0px;
	color: #000000;
	background-color: rgb(255, 255, 255);
	transition: .5s ease-in-out;
}

.cards:hover .intro {
	height: 150px;
	bottom: 0;
	background-color: #ffffff;
}

.cards:hover .text-p {
	opacity: 1;
	visibility: visible;
}

.cards:hover img {
	transform: scale(1.03) 
}

.contain img {
	height: 350px;
	width: 300px;
	object-fit: cover;
	border-radius:0px!important;
	transition: transform .5s ease-in-out;
}

.text-h1 {
	margin: 10px;
	text-transform: uppercase;
	font-size: 28px;
}

.text-p {
	font-size: 16px;
	padding: 10px;
	visibility: hidden;
	opacity: 0;
}
.down{
  margin-block-start: 100px;
}

@media screen and (max-width:991px) {
  .down{
    margin-block-start: 0px;
  }
  .contain {

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
  .contain img{
    height: 700px;
	width: 500px;
  }
  .intro{
	width: 500px;

  }
}
@media screen and (max-width:786px) {

  .contain img{
    height: 450px;
	width: 300px;
  }
  .intro{
	width: 300px;

  }
  
}