.contact-img{
    position: relative;
    object-fit: cover;
    top: -80px;
    width: 100%;
    height: 80vh;
    filter: brightness(40%);
}
.contact-content {
    position: absolute;
    top: 35%;
    left: 10%;
    width:80%;

}
.contact-heading h3{
    font-weight: 700;
    margin-inline-start: 6%;


}
.contact-content h1 , p {
    color: white;
    font-size: 50px;
}


.contact{
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding-inline:100px ;
    align-items: start;
    margin-block-start: 50px;
}

.contact-content h3{
    margin-inline-start:5% ;
    font-size: 25px;
    font-weight: 700;
    color:rgb(104,219,162);
  }

  #success-message {
    opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  form{
    margin-inline-start: 10%;
    height:auto;
    width:50vw;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  .row_{
    --bs-gutter-x: 0rem!important;
  }

  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color: #000;
  }
  
  .form-group .form-control:focus {
      box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
    
  }
  
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
  }
  
  .btn-mod.btn-border {
      color: #000000;
      border: 1px solid #000000;
      background: transparent;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #000;
      background: #000;
      outline: none;
  }
  .contact-details p {
    margin-bottom: 5px!important;
    font-size: 16px;
    color: black;
  }
  @media only screen and (max-width: 991px) {
    .contact{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-inline-start: 0%;
        padding: 10px;
    }
    form{
        margin-inline-start: 5%;
    }
    .contact-details{
      margin-inline-start: 5%;
      margin-block-start: 50px;
    }
  
    form{
      /* margin-inline-start: 5%; */
      height:auto;
      width:75vw;
    }
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 11px;
      }
    
      .form-title {
          font-size: 20px;
    }
    /* form{
        margin-inline-start: 0%;
    } */


  }